// Text color
$text-primary: #1A1A1E; //gray-900
$text-primary_on-brand: #FFFFFF; //white
$text-secondary: #3F3F46; //gray-700
$text-secondary_hover: #70707B; //gray-800
$text-secondary_on-brand: #B2DDFF; //brand-200
$text-tertiary: #51525C; //gray-600
$text-tertiary_hover: #3F3F46; //gray-700
$text-tertiary_on-brand: #B2DDFF; //brand-200
$text-quaternary: #70707B; //gray-500
$text-quaternary_on-brand: #84CAFF; //brand-300
$text-white: #FFFFFF; //text-white
$text-disabled: #D1D1D6; //gray-300
$text-placeholder: #A0A0AB; //gray-500
$text-placeholder_subtle: #D1D1D6; //gray-300
$text-brand-primary: #194185; //brand-900
$text-brand-secondary: #175CD3; //brand-700
$text-brand-tertiary: #1570EF; //brand-600
$text-brand-tertiary_alt: #1570EF; //brand-600
$text-error-primary: #D92D20; //error-600
$text-warning-primary: #DC6803; //warning-600
$text-success-primary: #079455; //success-600

// Border color
$border-primary: #D1D1D6; //gray-300
$border-secondary: #E4E4E7; //gray-200
$border-tertiary: #F2F2F2; //gray-100
$border-disabled: #D1D1D6; //gray-300
$border-disabled_subtle: #E4E4E7; //gray-200
$border-brand: #84CAFF; //brand-300
$border-brand-solid: #1570EF; //brand-600
$border-brand-solid_alt: #1570EF; //brand-600
$border-error: #FDA29B; //error-300
$border-error-solid: #D92D20; //error-600

// Background color
$bg-primary: #FFFFFF; //white
$bg-primary_alt: #FFFFFF; //white
$bg-primary_hover: #FAFAFA; //gray-50
$bg-primary_active: #FAFAFA; //gray-100
$bg-primary-solid: #26272B; //gray-950
$bg-secondary: #FAFAFA; //gray-50
$bg-secondary_alt: #FAFAFA; //gray-50
$bg-secondary_hover: #F2F2F2; //gray-100
$bg-secondary_active: #E4E4E7; //gray-200
$bg-secondary_subtle: #FCFCFC; //gray-25
$bg-secondary-solid: #51525C; //gray-600
$bg-tertiary: #F2F2F2; //gray-100
$bg-quaternary: #E4E4E7; //gray-200
$bg-active: #FAFAFA; //gray-50
$bg-disabled: #F2F2F2; //gray-100
$bg-disabled_subtle: #F2F2F2; //gray-50
$bg-overlay: #131316; //gray-950
$bg-brand-primary: #EFF8FF; //brand-50
$bg-brand-secondary: #D1E9FF; //brand-100
$bg-brand-solid: #1570EF; //brand-600
$bg-brand-solid_hover: #175CD3; //brand-700
$bg-brand-section: #1849A9; //brand-800
$bg-brand-section_subtle: #175CD3; //brand-700
$bg-error-primary: #FEF3F2; //error-50
$bg-error-secondary: #FEE4E2; //error-100
$bg-error-solid: #D92D20; //error-600
$bg-warning-primary: #FFFAEB; //warning-50
$bg-warning-secondary: #FEF0C7; //warning-100
$bg-warning-solid: #DC6803; //warning-600
$bg-success-primary: #ECFDF3; //success-50
$bg-success-secondary: #DCFAE6; //success-100
$bg-success-solid: #079455; //success-600

// utility colors
$utility-success-300: #75E0A7; //success-300
$utility-success-500: #17B26A; //success-500
$utility-success-700: #067647; //success-700
$utility-success-800: #085D3A; //success-800
$utility-success-900: #074D31; //success-900


$utility-error-700: #B42318; //error-700
$utility-error-800: #912018; //error-800

$utility-warning-300: #FEC84B; //warning-300
$utility-warning-700: #B54708; //warning-700
$utility-warning-800: #93370D; //warning-800

// my variables
$color-focus-outline: #2E90FA3D;
$color-danger-outline: #F044383D;
$color-success-outline: #07945533;
$color-warning-outline: #F7900933;
$color-accent-outline: #2e90fa26;
$bg-primary-solid-outline: #26272B33;
$bg-secondary_hover-outline: #98A2B333;