@use '@/app/styles/variables/global.scss' as *;
@use '@/app/styles/mixins/index' as *;

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    background-color: $text-primary;
    color: $text-primary_on-brand;
    padding: 80px 135px 60px 135px;
    overflow-x: scroll;

    .brand,
    .support,
    .account,
    .quickLink {
        display: flex;
        flex-direction: column;
        max-width: 175px;

        span {
            margin-top: 16px;
            @include text16(400);
            text-decoration: none;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    h4 {
        @include text24(700);
        margin-bottom: 24px;
    }

    h5 {
        @include text20(500);
        margin-bottom: 8px;
    }
}
