@use '@/app/styles/variables/global' as *;
@use '@/app/styles/mixins/index' as *;

.productGallery {
    display: flex;
    gap: 16px;
}

.thumbnailList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.thumbnail {
    width: 80px;
    height: 80px;
    object-fit: contain;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: border 0.2s ease;
    background-color: $bg-secondary_hover;

    @media screen and (min-width: 500px) {
        width: 120px;
        height: 100px;
    }

    @media screen and (min-width: 1200px) {
        width: 150px;
        height: 120px;
    }

    @media screen and (min-width: 1440px) {
        width: 170px;
        height: 138px;
    }
}

.thumbnail:hover {
    border-color: $bg-secondary_active;
}

.thumbnail.active {
    border-color: $bg-secondary-solid;
}

.mainImageWrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $bg-secondary_hover;
}

.mainImage {
    width: 100%;
    max-width: 500px;
    object-fit: contain;
}
