.cartTable {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.cartBody {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cartFooter {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media screen and (min-width: 768px){
      flex-direction: row;
      justify-content: space-between;
  }
  
}

.emptyWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  gap: 20px;

  .emptyText {
    font-size: 18px;
    font-weight: 600;
    color: #333;
  }

  img {
    width: 100%;
    max-width: 500px;
    height: auto;
  }

  .btnWrapper {
    width: 100%;
    max-width: 300px;
  }
  
}
