.cartTable {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.cartBody {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cartFooter {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media screen and (min-width: 768px){
      flex-direction: row;
      justify-content: space-between;
  }
  
}