.productFull {
  display: flex;
  flex-direction: column;
  gap: 60px;

  @media screen and (min-width: 768px){
    gap: 100px;
  }
}

.productInfo {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media screen and (min-width: 768px){
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
  

    > * {
      flex: 1 1 60%;
      min-width: 300px; 
    }
  }
}

.relatedItems {
  display: flex;
  flex-direction: column;
  gap: 60px;
}