@use '@/app/styles/variables/global' as *;

.avatarWrapper {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 50%;

  &:focus-visible,
  &:focus-within {
    outline: 4px solid $color-focus-outline;
  }

  &.noFocus {
    outline: none;
  }

  &.size16 {
    width: 16px;
    height: 16px;

    .indicator {
      width: 4px;
      height: 4px;
    }

    .avatarPlaceholder {
      font-size: 8px;
      line-height: 12px;
    }
  }

  &.size24 {
    width: 24px;
    height: 24px;

    .indicator {
      width: 6px;
      height: 6px;
    }

    .avatarPlaceholder {
      font-size: 12px;
      line-height: 20px;
    }
  }

  &.size28 {
    width: 28px;
    height: 28px;

    .indicator {
      width: 6px;
      height: 6px;
    }

    .avatarPlaceholder {
      font-size: 12px;
      line-height: 20px;
    }
  }

  &.size32 {
    width: 32px;
    height: 32px;

    .indicator {
      width: 8px;
      height: 8px;
    }

    .avatarPlaceholder {
      font-size: 14px;
      line-height: 24px;
    }
  }

  &.size36 {
    width: 36px;
    height: 36px;

    .indicator {
      width: 8px;
      height: 8px;
    }

    .avatarPlaceholder {
      font-size: 14px;
      line-height: 24px;
    }
  }

  &.size40 {
    width: 40px;
    height: 40px;

    .indicator {
      width: 10px;
      height: 10px;
    }

    .avatarPlaceholder {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &.size44 {
    width: 44px;
    height: 44px;

    .indicator {
      width: 10px;
      height: 10px;
    }

    .avatarPlaceholder {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &.size48 {
    width: 48px;
    height: 48px;

    .indicator {
      width: 10px;
      height: 10px;
    }

    .avatarPlaceholder {
      font-size: 18px;
      line-height: 28px;
    }
  }

  &.size56 {
    width: 56px;
    height: 56px;

    .indicator {
      width: 12px;
      height: 12px;
    }

    .avatarPlaceholder {
      font-size: 20px;
      line-height: 28px;
    }
  }
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  outline: 1.5px solid $text-white;
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: $utility-success-500;
}

.avatarPlaceholder {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 50%;
  background-color: $bg-secondary_hover;
  border: 1px solid $text-disabled;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $text-secondary_hover;
}