.container {
  padding: 0px 10px 10px 10px;

  @media screen and (min-width: 500px) {
    padding: 0px 20px 20px 20px;
  }

  @media screen and (min-width: 1200px) {
    padding: 0px 135px 16px 135px;
  }
}

.productsPage {
  display: flex;
  gap: 20px;
}

.products {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-self: flex-start;
  flex-wrap: wrap;
  padding-top: 20px;
  gap: 20px;

  @media (min-width: 768px) {
    justify-content: flex-start;
  }
}

.filtersSidebarDesktop {
  min-width: 250px;
  display: none;
  border-right: 1px solid gray;
  position: sticky;
  top: 0px;
  max-height: calc(100vh); 
  overflow-y: auto;

  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;

  /* WebKit (Chrome, Safari, Edge) */
  &::-webkit-scrollbar {
    width: 8px; /* ширина вертикального скролла */
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  @media (min-width: 768px) {
    display: block;
  }
}

.noProducts {
  padding: 20px;
  font-size: 20px;
  font-weight: 600;
}
