@use '@/app/styles/variables/global' as *;
@use '@/app/styles/mixins/index' as *;

.ratingBlock {
  display: flex;
  align-items: center;
  gap: 8px;

  .stars {
    display: inline-flex;
    gap: 2px;
  }
  
  .starFilled {
    color: $utility-warning-300;
  }
  
  .starEmpty {
    color: $gray-400;
  }
  

  .reviewCount {
    @include text14(500, "Poppins");
    color: $gray-400;
  }
}