@use '@/app/styles/variables/global' as *;

.size32 {
    height: 36px;
    font-size: 12px;
    line-height: 20px;
    padding: 0 8px;
}

.size36 {
    height: 36px;
    font-size: 12px;
    line-height: 20px;
    padding: 0 8px;
}

.size40 {
    height: 40px;
    font-size: 14px;
    line-height: 24px;
    padding: 0 12px;
}

.size44 {
    height: 40px;
    font-size: 14px;
    line-height: 24px;
    padding: 0 12px;
}

.size48 {
    height: 44px;
    font-size: 14px;
    line-height: 24px;
    padding: 0 12px;
}

.optionItem {
    padding: 8px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;

    &:hover {
        background: $bg-primary_active;
    }
}

.optionLabel {
    display: flex;
    gap: 8px;
    align-items: center;
}

.checkmark {
    margin-left: auto;
    width: 16px;
    height: 16px;
}

.icon {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    img,
    svg {
        max-width: 100%;
        max-height: 100%;
    }
}

.emptyIcon {
    width: 20px;
    height: 20px;
}
