@import '../../../../app/styles/mixins/index';
@import '../../../../app/styles/variables/global.scss';

.tabItemWrapper {
    @include flexContainer();
    font-family: 'Inter', sans-serif;
    padding: 0px 8px;
    border-bottom: 2px solid transparent;
    cursor: pointer;

    &.size32 .tabItem {
        @include text12(600);
        height: 29px;
        overflow: hidden;
    }

    &.size36 .tabItem {
        @include text14(600);
        height: 33px;
    }

    &.size40 .tabItem {
        @include text14(600);
        height: 37px;
    }

    & .tabItem {
        background-color: transparent;
        cursor: pointer;
        text-wrap: nowrap;
        overflow: hidden;
        color: $gray-900;
        height: 100%;
        padding: 0px;
    }

    .tabBadge {
        @include flexContainer();
        @include text12(500);

        width: 20px;
        height: 20px;
        margin-left: 4px;
        justify-content: center;
        border: 1px solid $gray-200;
        border-radius: 4px;
        color: $gray-900;
        background-color: $gray-50;
    }

    &.active {
        border-bottom: 2px solid $brand-600;

        & .tabItem {
            color: $brand-600;
        }

        & .tabBadge {
            border-color: $brand-200;
            color: $brand-600;
            background-color: $brand-50;
        }

        &.underlineFilled {
            background-color: $brand-50;

            &.disabled {
                background-color: transparent;
            }
        }

        &.disabled {
            border: none;
        }
    }

    &.disabled {
        & .tabItem {
            cursor: not-allowed;
            color: $gray-300;
        }

        & .tabBadge {
            border-color: $gray-300;
            color: $gray-300;
            background-color: transparent;
        }
    }

    &.itemHover:hover {
        background-color: $gray-50;
    }
}
