.cartItemList {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 16px;
  table-layout: fixed;
}

.header {
  background-color: #f9f9f9;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  color: #555;
  font-weight: 600;
}

.cartItemList th,
.cartItemList td {
  padding: 12px 10px;
  border-bottom: 1px solid #ddd;
  text-align: center;
  vertical-align: middle;

  @media (min-width: 768px) {
    padding: 24px 20px;
  }
}

.cartItemList th:first-child,
.cartItemList td:first-child {
  text-align: left;
}

.product {
  width: 40%;
}

.price,
.quantity,
.subtotal {
  width: 20%;
}
