.sidebar {
  padding-top: 20px;
  padding-left: 4px;
  padding-bottom: 4px;
  width: 200px;
  overflow-y: auto;
  scroll-behavior: smooth;

  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;

  /* Chrome, Safari, Edge */
  &::-webkit-scrollbar {
    width: 2px;           
  }

  &::-webkit-scrollbar-track {
    background: transparent; 
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); 
    border-radius: 2px;
  }

  @media (min-width: 768px) {
    width: 250px;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin-bottom: 1rem;

    a {
      color: #333;
      text-decoration: none;

      &:hover {
        color: #000;
        font-weight: 500;
      }
    }
  }
}
