.headerTools {
    display: flex;
    flex-direction: row;
    gap: 20px;

    .inputWrapper {
    }

    img {
        cursor: pointer;
        transition: transform 0.2s ease;
        &:hover {
            transform: scale(1.1);
        }

        &:active {
            transform: scale(0.95);
        }
    }
}
