.headerTools {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    gap: 20px;
    a {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    img {
        cursor: pointer;
        transition: transform 0.2s ease;
        &:hover {
            transform: scale(1.1);
        }
        &:active {
            transform: scale(0.95);
        }
    }

    .inputWrapper {
        position: relative;
        .dropdownWrapper {
            width: 300px;
            position: absolute;
            top: 100%; 
            left: 50%;
            transform: translateX(-50%);
            margin-top: 4px;
            background-color: aliceblue;
            z-index: 2000;
            background-color: transparent;
        }
    }  
}

.wishlistIcon,
.cartIcon {
    position: relative;
    display: inline-block;
}

.wishlistCount,
.cartCount {
    position: absolute;
    top: -3px;
    right: -6px;
    background-color: #e63946;
    color: white;
    font-size: 10px;
    padding: 4px;
    border-radius: 50%;
    font-weight: bold;
    line-height: 1;
    min-width: 18px;
    text-align: center;
}