.productPage {
  display: flex;
  flex-direction: column;
  gap: 80px;

  @media screen and (min-width: 768px){
    gap: 140px;
  }
}

.container {
  padding: 10px;

  @media screen and (min-width: 500px) {
      padding: 20px;
  }

  @media screen and (min-width: 1200px) {
      padding: 40px 135px 110px 135px;
  }
}