@use '@/app/styles/variables/global.scss' as *;
@use '@/app/styles/mixins' as *;

.breadcrumbs {
    padding: 10px;
    position: fixed;
    top: 124px;
    left: 0;
    width: 100%;
    z-index: 1000; 
    background-color: #fff; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

    @media screen and (min-width: 500px) {
        padding: 20px;
    }

    @media screen and (min-width: 1200px) {
        padding: 40px 135px 16px 135px;
    }

    .link {
        @include text14(400);
        color: black;
        opacity: 0.5;
        text-decoration: none;

        &:hover {
            opacity: 1;
        }

        &.active {
            opacity: 1;
        }
    }
}
