@use '@/app/styles/variables/global' as *;
@use '@/app/styles/mixins/index' as *;

.price {
    font-size: 15px;
    color: #333;
}
.priceBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    .currentPrice {
        color: $error-600;
    }
    .oldPrice {
        color: $gray-400;
        text-decoration: line-through;
    }
}
@media screen and (min-width: 600px) {
    .priceBlock {
        flex-direction: row;
    }
}