@use '@/app/styles/variables/global' as *;

.selectedTagsContainer {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 2px;
    padding: 2px 4px;
    max-width: 100%;
    width: fit-content;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        display: none;
    }
}

.selectedTag {
    background: $bg-active;
    border: 1px solid $border-primary;
    border-radius: 999px;
    padding: 4px;
    font-size: 10px;
    display: flex;
    align-items: center;
    color: $text-primary;
    white-space: nowrap;
    transition:
        background 0.2s ease,
        border 0.2s ease;

    &:hover {
        background: $bg-secondary_hover;
        border-color: $border-secondary;
    }
}

.removeTag {
    margin-left: 4px;
    cursor: pointer;
    font-size: 10px;
    line-height: 1;
    opacity: 0.6;
    transition:
        transform 0.2s ease,
        opacity 0.2s ease;

    &:hover {
        transform: scale(1.2);
        opacity: 1;
    }
}
