.wrapperSignUpPageForm {
    max-width: 370px;
    font-family: 'Inter', sans-serif;
    h1 {
        font-size: 24px;
        letter-spacing: 2px;
        white-space: nowrap;
    }
    p {
        font-size: 14px;
        margin-top: 18px;
    }
}

@media (min-width: 1024px) {
    .wrapperSignUpPageForm {
    h1 {
        font-size: 36px;
        letter-spacing: 4px;
    }
    p {
        font-size: 16px;     
        margin-top: 24px;
    }
}
}