.wrapperSignUpPageForm {
    width: 100%;
    max-width: 370px;
    font-family: 'Inter', sans-serif;
    margin: 0 12px;
    z-index: 1;
        h1 {
            font-size: 24px;
            letter-spacing: 2px;
            white-space: nowrap;
        }
        p {
            font-size: 14px;
            margin: 18px 0 40px 0;
            font-weight: 400;
        }
        .inputWrapper {
            width: 100%;
            margin-bottom: 30px;
            height: 32px;
        }
        .authSwitch{
           text-align: center;
            margin-top: 28px;
                .authSwitchText {
                    font-size: 14px;     
                    margin-right: 8px;
                    font-weight: 400;
                }
                .authSwitchAction {
                    cursor: pointer;
                    font-weight: 600;
                    &:hover {
                        text-decoration: underline;
                        opacity: 0.5;
                    }
                }
        }
}

@media (min-width: 1024px) {
    .wrapperSignUpPageForm {
        h1 {
            font-size: 36px;
            letter-spacing: 4px;
        }
        p {
            font-size: 16px;     
            margin: 24px 0 48px 0;
        }
        .inputWrapper {
            margin-bottom: 40px;
        }
        .authSwitch{
            text-align: center;
            margin-top: 32px;
            .authSwitchText {
                font-size: 16px;     
                margin-right: 8px;
            }
        }
    }
}