.homePage {
  min-height: 100vh;
}

.container {
  padding: 0px 10px 10px 10px;

  @media screen and (min-width: 500px) {
    padding: 0px 20px 20px 20px;
  }

  @media screen and (min-width: 1200px) {
    padding: 0px 135px 16px 135px;
  }
}

.heroSection {
  display: flex;
  gap: 20px;
}

.categoriesSidebarDesktop {
  width: 250px;
  display: none;
  border-right: 1px solid gray;
  @media (min-width: 768px) {
    display: block;
  }
}

.mainBanner {
  flex: 1;
}

.productSection {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media  (min-width: 1024px) {
    margin-top: 140px;
  }
}
