@use '@/app/styles/variables/global' as *;
@use '@/app/styles/mixins/index' as *;

.priceBlock {
  display: flex;
  align-items: center;
  gap: 8px;

  .currentPrice {
    color: $error-600;
  }

  .oldPrice {
    color: $gray-400;
    text-decoration: line-through;
  }
}